.homeContainer {
  .homer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .events {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      width: 300px;
      text-decoration: none;

      .Meet_Logo {
        width: 100%;
      }
      h1,
      h2,
      h3,
      h4 {
        color: black;
      }
    }
  }
}
